* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* header start */
.header {
    background-color: #2b97a2;
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#para {
    text-transform: capitalize;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    margin-right: 6.5px;

}

.inp {
    width: 220px;
    height: 48px;
    padding: 14px;
    margin-right: 10px;
    font-size: 15px;

}

#btn {
    height: 48px;
    width: 80px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    background-color: black;
    color: white
}

/* header end */

/* navbar */

.nav {
    display: flex;

    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 93px;
    padding: 30px;
    background-color: #f8f9fa;
    border-bottom: 1px solid black;
}

.p,
.n {
    display: flex;
    align-items: center;

}

.img {
    height: 30px;
    width: 121.69px;
}

.call {
    display: flex;
    font-family: sans-serif;
    margin-left: 15px;
    font-size: 20px;
}

.icon {
    color: green;
}

.navlist {
    display: flex;
    list-style: none;
}

.nav-links {
    text-decoration: none;
    color: #7c7ca9;


}

.nav-itmes {
    font-family: sans-serif;
    font-size: 16px;
    margin-left: 20px;
}

#btn-1 {
    height: 50px;
    width: 70px;
    border: none;
    border-radius: 10px;
    background-color: #8cbe3f;
    color: white;
    margin-left: 20px;
    font-size: 17px;
}

.nav-links:hover {
    color: red;

}

/* navbar end */
.next_main {
    width: 100%;
    margin-top: 40px;
    display: flex;

}

.next {
    margin-left: 150px;
    /* height: 450px; */
    align-items: center;
    font-size: 25px;
    width: 500px;
    padding-top: 30px;

}

.heading {
    color: black;
    padding-bottom: 15px;
    font-family: sans-serif;
    font-weight: 300;
}

.lab {
    color: rgb(88, 192, 192);
}

.watch-video {
    border-radius: 8px;
    border: none;
    padding: 17px;
    font-size: 15px;
    margin-left: 15px;
    background-color: #8bbe3f;
    color: white;
    font-weight: 600;
}

.watch-watch {
    border-radius: 8px;
    border: none;
    padding: 17px;
    font-size: 15px;
    margin-left: 15px;
    background-color: #2a97a2;
    color: white;
    font-weight: 600;
}

.btn_demo {
    width: 100%;
    /* background-color: pink; */
    margin-top: 20px;

}

.next_img {
    /* height: 450px; */
    width: 600px;
    /* background-color: blue; */
    padding-top: 10px;
}

.first_img {
    width: 100%;
    object-fit: cover;
}

.trusted {
    /* height: 800px; */
    width: 100%;
    font-family: sans-serif;
    /* margin-top: 50px; */
    /* background-color: red; */
    padding-top: 30px;
}

.trusted_hmain {
    /* height: 100px; */
    width: 100%;
    /* background-color: pink; */
    text-align: center;
}

h1 {
    color: #747373;

}

.para {
    margin-top: 15px;
    font-size: 18px;
    color: #747373;

}

.fullcontainer {
    display: flex;
    height: 620px;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */

}

.container1,
.container2,
.container3 {
    height: 498.59px;
    width: 284px;
    margin-left: 50px;
    border: 0.5px solid #b4dade;

    padding-top: 20px;
    border-radius: 9px;
    box-shadow: 0 0 12px #b4dade, 0 0 15px #b4dade;
    /* background-color: green; */
    background-color: #ffffff;
}

.incontainer1,
.incontainer2-1,
.incontainer3-1 {
    width: 50%;
    min-height: 100px;
    /* border: solid; */
    /* border-color: black; */
}

.image {
    margin-left: 30px;
    height: 78px;
    width: 74px;
}

.image2,
.image3 {
    margin-left: 30px;
    width: 102px;
    height: 102px;
}

.incontainer2,
.incontainer2-2,
.incontainer3-2 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Trebuchet MS", Sans-serif;
    padding-top: 30px;
    padding-left: 30px;
    /* color: white; */
    color: #747373;
    height: 110px;
    width: 100%;
    /* border: solid; */
    /* border-color: black; */
}

.incontainer3,
.incontainer2-3,
.incontainer3-3 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Trebuchet MS", Sans-serif;
    padding-left: 27px;
    padding-right: 20px;
    margin-top: 60px;
    height: 290px;
    width: 100%;
    /* border: solid; */
    /* border-color: black; */
}

.unorderlist,
.unorderlistcontainer2,
.unorderlistcontainer3 {
    font-size: 1rem;
    margin: 5px 0;
    font-weight: 600;
    /* margin-top: 80px; */

    /* color: white; */
    color: #747373;
}

.technology {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 160px;
    height: 200.39px;
    width: 1136px;
    border: solid;
    border-color: black;

}

.technology1,
.technology2 {
    width: 1136px;
    height: 400px;
    border: solid;
    border-color: black;
}

.h1-1 {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.right-img {
    display: flex;
    justify-content: center;
}

.right {
    height: 30px;
    width: 30px;
}

.navbtn {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family: sans-serif;

}

.navbtn-1 {
    width: 160px;
    height: 50px;
    background-color: #5cb85c;
    color: #d9e9c3;
    border-radius: 10px;
    border: none;

}

.span {
    color: #046f8f;
    padding-left: 8px;
    padding-right: 8px;
}

.span-1 {
    color: #4b8ae4;
    padding-left: 8px;
}

/* NEW IMG */

.fiffo,
.fiffo-1,
.fiffo-2 {
    display: flex;
    justify-content: center;
}

.fiffo1-1,
.fiffo2-1,
.fiffo3-1 {
    padding-top: 55px;
    width: 500px;
    height: 600px;
}

.fiffo-h2 {
    font-family: sans-serif;
    font-size: 28px;
    color: #747373;
    width: 538px;
    height: 33.59px;
    padding-top: 55px;
    padding-left: 67px;
}

.fiffo-unorderlist,
.fiffo-unorderlist-1 {
    font-family: sans-serif;
    font-size: 18px;
    color: #747373;
    padding-top: 90px;
    padding-left: 70px;
    width: 568px;
    height: 495px;

}

.fiffo-btn,
.fiffo-btn-1,
.fiffo-btn-2 {
    width: 376.59px;
    height: 50px;
    background-color: #8cbe3f;
    color: white;
    border-radius: 8px;
    border: none;
    font-weight: bolder;
    margin: 5px 5px;
    margin-left: 100px;

}

.fiffo-h3,
.fiffo-h4 {
    padding-top: 60px;
    font-family: sans-serif;
    font-size: 28px;
    color: #747373;
    width: 538px;
    height: 33.59px;
    padding-left: 65px;
}

.fiffo-unorderlist-2 {
    font-family: sans-serif;
    font-size: 18px;
    color: #747373;
    padding-top: 90px;
    padding-left: 70px;
    width: 568px;
    height: 360px;
}

/* FORM */

.liffo {
    padding-top: 170px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.liffo-h2 {
    padding-top: 30px;
    text-align: center;
    background-color: white;
    border: 2px solid #747373;
    box-shadow: inset 0 0 15px #747474;
    height: 266.59px;
    width: 1106px;
    flex-direction: column;
}

.form-h2 {
    font-size: 28px;
    font-family: sans-serif;
    align-items: center;
    color: #374e16;
    text-align: center;
}

.liffo-br {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.liffo-inp {
    font-family: sans-serif;
    font-size: 15px;
    border: none;
    padding: 10px;
    width: 219.67px;
    height: 43px;
    border-bottom: 1px solid black;
}

.liffo-btn {
    background-color: #2b97a2;
    font-family: sans-serif;
    font-weight: bolder;
    height: 42px;
    width: 219.67px;
    border-radius: 5px;
    color: white;
    border: none;
    margin-top: 30px;
}

/* FORM END */

/* SECTION START */
.fiffo-sec {
    display: flex;
    justify-content: center;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 50px;
    width: 1106px;
    height: 580.16px;
    /* background-color: yellow; */
}

.sec-unorderlist {
    font-family: sans-serif;
    color: #747373;
}

.sec-h2 {
    width: 338.66px;
    height: 115.2px;
    font-family: sans-serif;
    font-size: 19px;
    text-align: center;
    color: #046f8f;
}

.sec-img {
    padding-top: 10px;
    width: 304.8px;
    height: 456.97px;

}

/* SECTION END */

.subscription {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 10px;
    width: 1136px;
    height: 230px;
    /* background-color: yellow; */
}

.subs-heading {
    height: 50px;
    text-align: center;
}

.sub-h1 {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 36px;
    width: 540.26px;
    height: 48px;
    color: #747474;
}

.subs-paragraph {
    height: 33px;
    text-align: center;
}

.subs-p {
    width: 663.96px;
    height: 24px;
    font-family: sans-serif;
    font-size: 16px;
    color: #747474;

}

.subs-button {
    margin-top: 20px;
    width: 207.87px;
    height: 30px;
    text-align: center;
}

.subs-btn {
    width: 207.87px;
    height: 48px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: #2b97a2;
}

/* FOOTER */

.div-top {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 40px; */
    margin-top: 50px;
    font-family: sans-serif;
    width: 1423px;
    height: 275px;
    background-color: #343a40;
}

.div-1 {
    padding-left: 45px;
    padding-right: 8px;
    width: 1327px;
    height: 180px;

}

.div-h1 {
    font-size: 25px;
    font-weight: lighter;
    color: white;
}

.div-listitems {
    font-size: 16px;
    color: #cccccc;
    list-style: none;
    text-decoration: none;
}

.div-link {
    text-decoration: none;
}

.div-link:hover {
    color: rgb(222, 206, 206);
    text-decoration: underline;

}